/target
/true
Cargo.lock
*.ft
*.ftz
*.zip
*.ll
*.xlsx
*.7z
*.safetensors
*.txt
*.model

resnet
resnet_inp

/src/**/target
/src/**/true
/src/**/*.ll
/src/**/*.txt
/src/tensor-graph/src-tauri/*.txt
/.VSCodeCounter

node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/